.userinfo {
    background-image: url('https://random.imagecdn.app/500/250');
    height: 220px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin-bottom: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.userinfo .MuiAvatar-root {
    position: absolute;
    bottom: -50px;
    border: 5px solid #fff;
    margin-left: 20px;
}
.userinfo-text{
    position: absolute;
    bottom: -200px;
    margin-left: 25px;
}
.userinfo-text h3{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.userinfo-text h4{
    color: gray;
    font-size: 20px;
    margin-bottom: 10px;
}
.userinfo-text h5{
    font-weight: lighter;
    font-size: 18px;
    margin-top: 10px;
}