.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    margin: 10px auto 0 auto;
}
.navbar {
    width: 210px;
    height: 95vh;
    top: 10px;
    border-right: 1px solid #eaeaea;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navbar__menu-item,
.userIcon {
    content: '';
    width: 80px !important;
    height: 80px !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/logo.svg');
}
.navbar__menu button svg {
    font-size: 30px !important;
}
.navbar__menu button:hover {
    color: cornflowerblue;
    background-color: rgba(100, 148, 237, 0.212);
}
.navbar__menu button {
    font-weight: bold !important;
    margin-top: 20px !important;
    width: 200px !important;
    display: flex !important;
    justify-content: space-between !important;
    border-radius: 5px !important;
}
.navbar__menu button:nth-child(1) {
    width: 50px !important;
}
.navbar__menu button:last-child {
    background-color: rgb(194, 218, 255);
}
.navbar__menu button:last-child p {
    margin: 0 auto;
}
.feed {
    width: 60%;
}
.feed h1 {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #eaeaea;
}
.planks {
    width: 25%;
    height: 80vh;
    top: 0;
    position: sticky;
}
.planks input {
    width: 100%;
    margin: 40px auto;
    border: none;
    background-color: #fff;
    color: black;
    border-radius: 20px;
    height: 45px;
    font-size: 18px;
    padding-left: 15px;
    box-shadow: 0 0 10px rgb(194, 218, 255);
}
.planks h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}
.actual-info {
    background-color: #ececec9e;
    padding: 15px;
    color: black;
    transition: 0.3s ease;
    cursor: pointer;
}
.actual-info p {
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
}
.actual-info__title {
    font-size: 16px;
}
.actual-info:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
    color: rgb(25, 118, 210);
    background-color: #fff;
    box-shadow: 0 0 5px rgb(194, 218, 255), 0 0 10px rgb(194, 218, 255),
        0 0 15px rgb(194, 218, 255);
}
.twit-block {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 180px;
}
.twit-block input {
    width: 92%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #eaeaea;
    border-radius: 5px;
}
.userAvatar {
    width: 60px !important;
    height: 60px !important;
    margin-top: 10px;
}
.btnAdd {
    display: flex;
    width: 200px !important;
    flex-direction: row;
    position: absolute;
    right: 20px;
}
.btnAdd button {
    margin-top: 50px;
    padding: 0 !important;
    border-radius: 5px !important;
}
.modalAddTwit {
    position: fixed !important;
    width: 100vw !important;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10000 !important;
    background-color: rgba(0, 0, 0, 0.37);
}
.modalAddTwitContent {
    position: absolute !important;
    display: flex !important;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: #fff;
    z-index: 200000 !important;
    top: 20%;
    left: 30%;
}
.modalAddTwitContent input {
    outline: none;
    width: 90%;
    height: 50px;
    margin-bottom: 50px;
    border: 2px solid #eaeaea;
    padding: 10px;
    border-radius: 5px;
}
